/* -------------------------------------
	New Homepage Styles - Added 01/09/09 
---------------------------------------*/
body {
	padding: 0;
	margin:  0px;
	background:#ffffff;
}

.home_welcome {
	text-align:left;
	color:#000;
	font-size:15px;
	font-weight:600;
	padding: 10px 0 0 0;
}
.home_status {
	text-align:left;
	color:#999;
	font-size:12px;
	padding: 0 0 10px 0;
}

.home_inner_profile {
	width: 320px;
}
.home_inner_profile_td {
	width: 30%;
	text-align:center;
	float:left;
}
.home_inner_profile div a {
	font-size:10px;
	line-height: 12px;
	color: #666666;
	text-decoration: none;
}
.home_inner_profile div a:hover {
	color: #000000;
}
.home_inner_profile div a img {
	padding: 5px 5px 5px 5px;
	margin: 0 auto;
	background:url(../images/bg_profile.gif) no-repeat bottom right;
	display:block;
	width:55px;
	height:70px;
}
.home_box {
	border: 1px solid #ccc;
	height:150px;
	margin: 0 5px 10px 0; 
	position:relative;
	padding: 0px 0px 10px 0px;
	float:left;
	width:320px;
}
.home_box H2 {
	font-size:14px;
	font-weight: 400;
	background:#f0f0f0;
	height:36px;
	line-height:36px;
	margin:0;
	padding: 0 10px; 
}
/* -----------------------------------
	  Program area styles  
------------------------------------- */


#mailnav {
	padding: 5px 3px 0 3px;
	margin-left: 0;
	border-bottom: 1px solid #daeff8;
	font-weight: 700;
	font-size: 13px;
}
#mailnav li {
	list-style: none;
	margin: 0;
	display: inline;
}
#mailnav li a {
	color: #333333;
	padding: 3px 0.5em;
	margin-left: 3px;
	border: 1px solid #daeff8;
	border-bottom: none;
	background: #daeff8;
	text-decoration: none;
	font-weight: 700;
}
#mailnav li a:hover {
	color: #ffffff;
	background: #1a8ccd;
	border-color: #1a8ccd;
	text-decoration: none;
}
#mailnav li a#current {
	color: #333333;
	background: #ffffff;
	border-bottom: 1px solid #ffffff;
}
#nav {
	width: 400px;
	height: 55px;
	background:url(../images/bg_nav.gif) top repeat-x;
	overflow:hidden;
	line-height: 55px;
	font-size: 12px;
	font-weight:700;
}
#nav a {
	padding: 0 10px;
	background: url(../images/bg_navlink.gif) right no-repeat;
	color:#666666;
	text-decoration:none;
	display:block;
	float:left;
}
#nav a:hover {
	background: url(../images/bg_navlink.gif) right no-repeat #d0d0d0;
	color:#000000;
	text-decoration:none;
}
.tdhead { /*   header row for subtables  */
	color: #999999;
	font-weight: 400;
	font-size: 15px;
	padding-bottom: 10px;
	padding-left: 0px;
	border-bottom : 2px solid #eeeeee;
}
.tdfoot  /*   footer row for subtables  */ {
	border-top : 1px solid #eeeeee;
}
tr.tdtoprow td, .tdtoprow/*   top row for mail and hotlist tables */ {
	background-color : #eeeeee;
	color: #000000;
	line-height: 25px;
}
tr.tdodd td, .tdodd/*  odd row for subtables   */ {
	border-bottom : 1px solid #eeeeee;
	background-color: #ffffff;
}
tr.tdeven td, .tdeven /*   even row for subtables  */ {
	border-bottom : 1px solid #eeeeee;
}
.td1  /*   row 1 for search and profile pages */ {
	background-color: #EFEFFD;
}
.td2 /*  row 2 for search and profile pages */ {
	background-color: #eeeeee;
}
.td3  /*   row 3 for search and profile pages  */ {
	background-color : #eeeeee;
}
.rettext  /*   information blocks for subtables  */ {
	font-weight: 700;
	color: #666666;
	padding-right: 7px;
}
.retimage  /*   information blocks for subtables  */ {
	border-bottom : 1px solid #eeeeee;
	border-left : 1px solid #eeeeee;
	border-right : 1px solid #eeeeee;
}
.tdcontent  /*   information blocks for subtables  */ {
	padding: 15px;
	border-bottom : 1px solid #eeeeee;
}
.tdmail  /*   unread mail row colour  */ {
	background-color: #eeeeee;
}
/*   search results  */
.search_result {
	width: 100%;
	margin: 0 5px 5px 5px;
	float:left;
	height: 230px;
	overflow:hidden;
}
.resulthead {
	font-size: 15px;
	line-height: 25px;
	height:25px;
	overflow:hidden;
	font-weight: 700;
	color:#999999;
	border-bottom: 1px solid #dddddd;
}
.resulthead a  /*   header row for search results  */ {
	text-decoration: none;
}
.resultbody  /*   body row for search results  */ {
	padding: 10px;
	background-color: #ffffff;
	border-right : 1px solid #dddddd;
	border-left : 1px solid #dddddd;
	border-bottom : 1px solid #dddddd;
	height: 165px;
}
.resultimage {
	text-align:center;
	width: 120px;
}
a.imageframe img   /* image frame for search results  */ {
	padding: 5px 10px 10px 5px;
	margin-left: 5px;
	background:url(images/bg_profile.gif) no-repeat bottom right;
}
.resultaddress { /*  age and location search result */
	font-weight: 400;
	font-size: 11px;
	font-style: italic;
	color:#000000;
}
.resultcomment { /*  age and location search result */
	font-weight: 400;
	font-size: 11px;
	line-height: 1.5;
	padding-top:10px;
}
.resultbuttons { /*  age and location search result */
	text-align:right;
}
.resulttitle {
	color:#333333;
	font-weight:700;
}
.online { /*  "online" text for search result */
	font-weight: 700;
	color: #00cc00;
	font-size: 10px;
	font-style: italic;
	line-height:1.3;
}
.offline { /*  "offline" text for search result */
	font-weight: 700;
	color: #666666;
	font-size: 10px;
	font-style: italic;
	line-height:1.3;
}
.premium { /*   member status  text for search result */
	font-weight: 700;
	color: #ff3300;
	font-size: 10px;
	font-style: italic;
	line-height:1.3;
}
.standard { /*  member status text for search result */
	font-weight: 700;
	color: #666666;
	font-size: 10px;
	font-style: italic;
	line-height:1.3;
}
a.switch  /*   search form + -   */ {
	font-size: 14px;
	text-decoration: none;
}
a:hover.switch /*   search form + -   */ {
	font-size: 14px;
	text-decoration: none;
}
tr.noborder td /*  pop checks removes border inherited from tdodd   */ {
	border: none;
}
.poptable {  /*  background colour for tables in popups   */
	background-color :  #ffffff;
}
.pageheader { /*  Page Titles */
	font-size: 15px;
	color: #666666;
	font-weight: 600;
	padding-bottom: 10px;
}
.input { /* general input field secific formatting  */
	width: 120px;
}
.inputs {  /*  small input field secific formatting  */
	width: 95px;
}
.inputl { /*  large input field secific formatting  */
	width: 200px;
}
.inputf { /*  free width input field secific formatting  */
}
form {
	padding: 0px;
	margin: 0px;
}

.progress {
width: 220px;
height:19px;
background: url(images/progress.gif) top left no-repeat;
}